[flake8]

# Permitted exceptions:
# E402 module level import not at top of file
# E501 line too long (161 > 150 characters)
# F821 undefined name '_'

per-file-ignores =
    ./r.dsm.import.bb/r.dsm.import.bb.py:F821
    ./r.dsm.import.be/r.dsm.import.be.py:F821
    ./r.dsm.import.he/r.dsm.import.he.py:F821
    ./r.dsm.import.hh/r.dsm.import.hh.py:F821
    ./r.dsm.import.sn/r.dsm.import.sn.py:F821
    ./r.dsm.import.th/r.dsm.import.th.py:F821
    ./r.dsm.import/r.dsm.import.py:E501,F821
    ./r.dtm.import.bb/r.dtm.import.bb.py:F821
    ./r.dtm.import.be/r.dtm.import.be.py:F821
    ./r.dtm.import.he/r.dtm.import.he.py:F821
    ./r.dtm.import.hh/r.dtm.import.hh.py:F821
    ./r.dtm.import.sn/r.dtm.import.sn.py:F821
    ./r.dtm.import.th/r.dtm.import.th.py:F821
    ./r.dtm.import/r.dtm.import.py:E501,F821
    ./r.dtm.import/r.dtm.import.py:E501,F821
    ./r.ndsm.import.nw/r.ndsm.import.nw.py:E501,F821
    ./r.ndsm.import/r.ndsm.import.py:E501,F821

max-line-length = 80
exclude =
    .git,
    __pycache__,
    .env,
    .venv,
    env,
    venv,
    ENV,
    env.bak,
    venv.bak,
    ctypes,
    pydispatch,
