[flake8]

# Permitted exceptions:
# E402 module level import not at top of file
# E501 line too long (161 > 150 characters)
# F821 undefined name '_'

per-file-ignores =
    ./lib_dem/r_dem_import_lib.py: E501,F821
    ./r.dem.wms.worker/r.dem.wms.worker.py:E501,F821
    ./r.dsm.import.bb/r.dsm.import.bb.py:E501,F821
    ./r.dsm.import.be/r.dsm.import.be.py:E501,F821
    ./r.dsm.import.hb/r.dsm.import.hb.py:E501,F821
    ./r.dsm.import.he/r.dsm.import.he.py:E501,F821
    ./r.dsm.import.ni/r.dsm.import.ni.py:E501,F821
    ./r.dsm.import.sn/r.dsm.import.sn.py:E501,F821
    ./r.dsm.import.th/r.dsm.import.th.py:E501,F821
    ./r.dsm.import/r.dsm.import.py:E501,F821
    ./r.idsm.import/r.idsm.import.py:E501,F821
    ./r.idsm.import.bb/r.idsm.import.bb.py:E501,F821
    ./r.idsm.import.hh/r.idsm.import.hh.py:E501,F821
    ./r.idsm.import.nw/r.idsm.import.nw.py:E501,F821
    ./r.dtm.import.bb/r.dtm.import.bb.py:E501,F821
    ./r.dtm.import.be/r.dtm.import.be.py:E501,F821
    ./r.dtm.import.he/r.dtm.import.he.py:E501,F821
    ./r.dtm.import.hh/r.dtm.import.hh.py:E501,F821
    ./r.dtm.import.hb/r.dtm.import.hb.py:E501,F821
    ./r.dtm.import.nw/r.dtm.import.nw.py:E501,F821
    ./r.dtm.import.ni/r.dtm.import.ni.py:E501,F821
    ./r.dtm.import.sn/r.dtm.import.sn.py:E501,F821
    ./r.dtm.import.th/r.dtm.import.th.py:E501,F821
    ./r.dtm.import/r.dtm.import.py:E501,F821
    ./r.dtm.import/r.dtm.import.py:E501,F821
    ./r.ndsm.import.nw/r.ndsm.import.nw.py:E501,F821
    ./r.ndsm.import/r.ndsm.import.py:E501,F821

max-line-length = 80
exclude =
    .git,
    __pycache__,
    .env,
    .venv,
    env,
    venv,
    ENV,
    env.bak,
    venv.bak,
    ctypes,
    pydispatch,
